/* Söhne Font Family */
@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-extraleicht.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-extraleicht-kursiv.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-leicht.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-leicht-kursiv.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-buch.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-buch-kursiv.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-kraftig.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-kraftig-kursiv.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-halbfett.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-halbfett-kursiv.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-dreiviertelfett.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-dreiviertelfett-kursiv.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-fett.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-fett-kursiv.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-extrafett.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Söhne';
    src: url('fonts/test-soehne-extrafett-kursiv.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
} 